@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    z-index: 1;
    width: 100%;
    min-height: 100vh;
}