@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f1f2f3;
}

.leaflet-container {
    z-index: 1;
    width: 100%;
    min-height: 100vh;
}

.leaflet-control-container {
    display: none;
}

.leaflet-popup-content {
    text-align: center;
}

@media (min-width: 640px) {
    .leaflet-control-container {
        display: block;
    }
}